@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?2hh0q8');
	src:url('../fonts/icomoon.eot?2hh0q8#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?2hh0q8') format('truetype'),
		url('../fonts/icomoon.woff?2hh0q8') format('woff'),
		url('../fonts/icomoon.svg?2hh0q8#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
	content: "\e900";
}
.icon-cloud:before {
	content: "\e901";
}
.icon-star:before {
	content: "\e902";
}
.icon-tv:before {
	content: "\e903";
}
.icon-sound:before {
	content: "\e904";
}
.icon-video:before {
	content: "\e905";
}
.icon-trash:before {
	content: "\e906";
}
.icon-user:before {
	content: "\e907";
}
.icon-key:before {
	content: "\e908";
}
.icon-search:before {
	content: "\e909";
}
.icon-settings:before {
	content: "\e90a";
}
.icon-camera:before {
	content: "\e90b";
}
.icon-tag:before {
	content: "\e90c";
}
.icon-lock:before {
	content: "\e90d";
}
.icon-bulb:before {
	content: "\e90e";
}
.icon-pen:before {
	content: "\e90f";
}
.icon-diamond:before {
	content: "\e910";
}
.icon-display:before {
	content: "\e911";
}
.icon-location:before {
	content: "\e912";
}
.icon-eye:before {
	content: "\e913";
}
.icon-bubble:before {
	content: "\e914";
}
.icon-stack:before {
	content: "\e915";
}
.icon-cup:before {
	content: "\e916";
}
.icon-phone:before {
	content: "\e917";
}
.icon-news:before {
	content: "\e918";
}
.icon-mail:before {
	content: "\e919";
}
.icon-like:before {
	content: "\e91a";
}
.icon-photo:before {
	content: "\e91b";
}
.icon-note:before {
	content: "\e91c";
}
.icon-clock:before {
	content: "\e91d";
}
.icon-paperplane:before {
	content: "\e91e";
}
.icon-params:before {
	content: "\e91f";
}
.icon-banknote:before {
	content: "\e920";
}
.icon-data:before {
	content: "\e921";
}
.icon-music:before {
	content: "\e922";
}
.icon-megaphone:before {
	content: "\e923";
}
.icon-study:before {
	content: "\e924";
}
.icon-lab:before {
	content: "\e925";
}
.icon-food:before {
	content: "\e926";
}
.icon-t-shirt:before {
	content: "\e927";
}
.icon-fire:before {
	content: "\e928";
}
.icon-clip:before {
	content: "\e929";
}
.icon-shop:before {
	content: "\e92a";
}
.icon-calendar:before {
	content: "\e92b";
}
.icon-wallet:before {
	content: "\e92c";
}
.icon-vynil:before {
	content: "\e92d";
}
.icon-truck:before {
	content: "\e92e";
}
.icon-world:before {
	content: "\e92f";
}

/*font-family*/
body {
	font-family: "Open Sans", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans", sans-serif;
}

/*Colors Pallete*/
$blue: #00a0b0;
$brown: #6a4a3c;
$red: #cc333f;
$orange: #eb6841;
$yellow: #edc951;
$gray_light: #d5ddde;
$gray_dark: #222222;

/*Extenders*/
.link-menu-hover{
	text-decoration: none;
	opacity: 0.8;
}

/*Mixins*/
@mixin box-sizing($val) {
	box-sizing: $val;
	-moz-box-sizing: $val;
}


/*Header*/
.header {
	position: fixed;
	top:0;
	left: 0;
	height: 90px;
	width: 100%;
	background: #cc333f;
	background: -moz-linear-gradient(left,  #cc333f 7%, #edc951 100%);
	background: -webkit-linear-gradient(left,  #cc333f 7%,#edc951 100%);
	background: linear-gradient(to right,  #cc333f 7%,#edc951 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc333f', endColorstr='#edc951',GradientType=1 );
	.logo {
		display: block;
		width: 90px;
		height: 90px;
		line-height: 90px;
		background: $blue;
		text-decoration: none;
		color: #ffffff;
		font-family: "Droid Sans", sans-serif;
		font-size: 60px;
		text-align: center;
	    text-shadow: 3px 5px 0px rgba(0,0,0,0.5);
		&:hover {
			@extend .link-menu-hover;
		}
	}
}

/*Menu*/
.menu {
	position: fixed;
	top: 90px;
	width: 90px;
	background: $gray_light;
	left: 0;
	.main_menu {
		ul {
			padding: 0;
			margin: 0;
			li{
				list-style: none;
				padding: 0;
				margin: 0;
				a {
					display: block;
					width: 90px;
					height: 90px;
					line-height: 90px;
					text-decoration: none;
					font-size: 32px;
					text-align: center;
					color:#ffffff;	
					&:hover {
						@extend .link-menu-hover;
					}
				}
				.blog {
					background: $brown;
				}
				.themes {
					background: $red;
				}
				.photo {
					background: $orange;
				}
				.freelas {
					background: $yellow;
				}
			}
		}
	}
}

/*Page*/
.page{
	width: 100%;
	padding:110px 20px 20px 110px;
	display: flex;
	@include box-sizing(border-box);

	/*Container*/
	.container_full {
		width: 67%;
		border-right: 1px solid $gray_light;
		padding-right: 20px;
		@include box-sizing(border-box);
		h2 {
			text-shadow: 3px 5px 0px rgba(0,0,0,0.1);
		}

		/*Blog*/
		.blog {
			h2 {
				color: $brown;
			}
		}
	}
	.container_full_width {
		width: 100%;
		padding-right: 20px;
		@include box-sizing(border-box);
		h1 {
			text-shadow: 3px 5px 0px rgba(0,0,0,0.1);
			text-align: center;
			color: $blue;
			font-size: 60px;
			line-height: 90px;
		}
		h2 {
			text-align: center;
			font-size: 20px;
			width: 100%;
			padding-bottom: 20px;
			border-bottom: 1px solid $gray_light;
			color: $gray_dark;
		}

		/*Home Page - Highlights*/
		.highlights {
			display: flex;
			margin-top: 90px;
			aside {
				width: 25%;
				@include box-sizing(border-box);
				padding: 50px;
				.high {
					text-align: center;
					display: block;
					font-size: 90px;
					margin-bottom: 20px;
				}
				h2 {
					padding-bottom: 0;
					font-size: 30px;
					border-bottom: 0 none;
					text-align: center;
					text-shadow: 3px 5px 0px rgba(0,0,0,0.1);
				}
				p {
					text-align: center;
				}
				.link {
					margin: 0 auto;
					width: 140px;
					.btn.btn-primary {
						background: $blue;
						margin-left: auto;
						margin-right: auto;
					}
				}
			}
			.blog {
				h2, .high{
					color: $brown;
				}
			}
			.themes {
				h2, .high{
					color: $red;
				}
			}
			.photo {
				h2, .high{
					color: $orange;
				}
			}
			.freelas {
				h2, .high{
					color: $yellow;
				}
			}
		}
	}

	/*Sidebar*/
	.sidebar {
		width: 33%;
		padding-left: 20px;
		@include box-sizing(border-box);
		aside {
			margin-bottom: 20px;
			h3 {
				color: $blue;
			}
		}
	}
}

/*Bootstrap*/
.post-list {
	margin: 0;
	padding: 0;
	h3 a {
		color: $blue;
	}
	p {
		border-bottom: 1px solid $gray_light;
		padding-bottom: 10px;
		margin-bottom: 20px;
	}
}


/*Responsivo*/
.responsive_menu {
	border: 0 none;
	box-shadow: none;
	margin-bottom: 0;
	.navbar-header .navbar-brand {
		font-family: "Droid Sans", sans-serif;
		font-size: 30px;
		color: $blue;
		text-shadow: 3px 5px 0px rgba(0,0,0,0.1);
	}
}
.mark_responsive_menu {
	width: 100%;
	height: 10px;
	background: #cc333f;
	background: -moz-linear-gradient(left,  #cc333f 7%, #edc951 100%);
	background: -webkit-linear-gradient(left,  #cc333f 7%,#edc951 100%);
	background: linear-gradient(to right,  #cc333f 7%,#edc951 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc333f', endColorstr='#edc951',GradientType=1 );
}
@media screen and (max-width: 767px) {
	.page {
		padding: 20px;
		display: block;
		.container_full, .sidebar {
			width: 100%;
		}
		.container_full_width {
			h1 {
				font-size: 28px;
				line-height: 35px;
			}
			h2 {
				font-size: 16px;
			}
			.highlights {
				margin-top: 20px;
				display: block;
				aside {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 992px) {
	.page .container_full_width {
			.highlights {
				margin-top: 60px;
				flex-wrap: wrap;
				aside {
					width: 50%;
				}
			}
		}
}