<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <section class="page">
      <section class="container_full">
        <article class="post {{ page.id }}">
          {{ content }}
        </article>
      </section>
      
      <section class="sidebar">
        <aside class="twitter">
          <h3>Twitter</h3>
          <a class="twitter-timeline" href="https://twitter.com/PauloKlixto" data-widget-id="677887559020752896">Tweets de @PauloKlixto</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </aside>
      </section>

    </section>

    {% include footer.html %}

  </body>

</html>
